<nav class="site-nav">
  <div class="site-nav-inner">
    <a class="site-nav-logo" href="/free-resources.html">Shift &amp; Lead</a>
    <div class="site-nav-links">
      <a href="/free-resources.html#library">Free guides</a>
      <a href="/99.html">The 99</a>
      <a href="https://brief.shiftandlead.com">The Insider Brief</a>
      <a href="/about.html">About</a>
      <a class="nav-cta" href="https://www.shiftandlead.com/work-with-fatiha.html?utm_source=guides&amp;utm_medium=site&amp;utm_campaign=library">Work with me</a>
    </div>
  </div>
</nav>
